<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout::headLibAll"></th:block>
    <title>Đề Nghị Mở Mục Kêu Gọi</title>
</head>
<body>
<header>
    <nav th:replace="layout::mainNavbar"></nav>
    <!-- Page Header -->
    <div id="page-header">
        <!-- section background -->
        <div class="section-bg"
             th:style="'background-image : url(' + ${'/img/background-2.jpg'} + ')'"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <h1>Đề Nghị Mở </h1>
                        <ul class="breadcrumb">
                            <li><a th:href="@{/}">Trang Chủ</a></li>
                            <li><a>Đề Nghị</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->
</header>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- MAIN -->
            <main id="main" class="col-md-9">
                <div class="row main-margin text-center" th:if="${proposalSuccess!=null}">
                    <p class="messenger-form" th:text="${proposalSuccess}"></p>
                </div>
                <div class="row">
                    <form method="post" th:action="@{/proposal/create}"
                          th:object="${voteFileUpload}"
                          enctype="multipart/form-data"
                    class="form-create">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="tittle">Tiêu Đề</label>
                                <textarea class="input" id="tittle" name="tittle" th:field="*{tittle}"
                                      maxlength="270">
                                </textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="summary">Tóm Tắt</label>
                                <textarea class="input" id="summary" name="content" th:field="*{summary}"
                                          maxlength="480">
                                </textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="content">Nội Dung Chính</label>
                                <textarea class="input" id="content" name="content" th:field="*{content}">
                                </textarea>
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="goal">Số Tiền Đóng Góp</label>
                                <input type="number" id="goal" name="goal" class="input"
                                       placeholder="Nhập Số Tiền Đóng Góp Mà Bạn Đề Nghị" th:field="*{goal}">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="localVote">Địa Điểm Nhận</label>
                                <input type="text" id="localVote" name="localVote" class="input"
                                       placeholder="Nhập Địa Điểm Nhận Số Tiền Đóng Góp" th:field="*{localVote}">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <p>Gắn Thẻ</p>
                                <th:block th:each="category:${categories}">
                                    <p>
                                        <input type="checkbox" th:value="${category.id}" th:field="*{categories}">
                                        <span th:text="${category.name}"></span>
                                    </p>
                                </th:block>
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="representative">Người Đại Diện</label>
                                <input type="text" id="representative" name="representative" class="input"
                                       placeholder="Nhập Tên Người Đại Diện Nhận Tiền" th:field="*{representative}">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="beginDate">Ngày Bắt Đầu</label>
                                <input type="date" id="beginDate" name="beginDate" class="input"
                                       th:field="*{beginDate}">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="finishDate">Kết Thúc</label>
                                <input type="date" id="finishDate" name="finishDate" class="input"
                                       th:field="*{finishDate}">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label>Ảnh</label>
                                <input type="file" name="imageFile" class="input" th:field="*{fileDatas}"
                                       multiple="multiple">
                            </div>
                        </div>
                        <div class="row">
                            <button class="primary-button" type="submit">Đề Nghị</button>
                        </div>
                    </form>
                </div>

            </main>
            <!-- /MAIN -->

            <!-- ASIDE -->
            <aside id="aside" class="col-md-3">
                <!-- category widget -->
                <div class="widget">
                    <h3 class="widget-title">Chỉ Mục</h3>
                    <div class="widget-category">
                        <ul>
                        </ul>
                    </div>
                </div>
                <!-- /category widget -->

                <!-- causes widget -->
                <div class="widget" id="top3Vote">


                </div>
                <!-- causes widget -->
            </aside>
            <!-- /ASIDE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<footer th:replace="layout::mainFooter"></footer>

<!-- Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Donate</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formDonate" enctype='application/json'>
                    <div class="form-group">
                        <label for="nameVolunteer">Name</label>
                        <input type="text" class="form-control" id="nameVolunteer"
                               name="name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="emailVolunteer">Email</label>
                        <input type="email" class="form-control" id="emailVolunteer"
                               name="email" placeholder="Your Email">
                        <p class="alert alert-danger errorForEmailVolunteer"></p>
                    </div>
                    <div class="form-group">
                        <label for="phoneVolunteer">Phone</label>
                        <input type="text" class="form-control" id="phoneVolunteer"
                               name="phone" placeholder="Your Phone">
                        <p class="alert alert-danger errorForPhoneVolunteer"></p>
                    </div>
                    <div class="form-group">
                        <label for="moneyDonate">Money</label>
                        <input type="number" class="form-control" id="moneyDonate"
                               name="amount" placeholder="Money Donate">
                        <p class="alert alert-danger errorForMoneyDonate"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="primary-button causes-donate" id="submitDonate">Donate</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="layout::scriptLibAll"></th:block>
<script type="text/javascript" th:inline="javascript">
    var id = null,
        voteData = new JsonVote();
    $(document).ready(function(){
            var path = window.location.pathname.split('/');
            id = parseInt(path[2]);
            voteData.getCategory();
            voteData.getTop3Vote();
            voteData.hideErrorModal();
        }
    );
</script>
</body>
</html>