<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout::headLibAll">
    </th:block>
    <title>Tạo Tài Khoản</title>
</head>
<body>
<header>
    <nav th:replace="layout::mainNavbar"></nav>
</header>

<div class="section main-background">
    <!-- container -->
    <div class="container text-center">
        <!-- row -->
        <div class="row">
            <div class="center-block col-sm-12 col-md-1  col-lg-2"></div>
            <div class="center-block col-sm-12 col-md-10  col-lg-8">
                <form method="post" th:action="@{/create_account/create_account}"
                class="form-create">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="user_name">Tài Khoản</label>
                            <input type="text" class="input" id="user_name" name="username" th:value="${username}"
                                   placeholder="Nhập Tên Tài Khoản Của Bạn">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="password">Mật Khẩu</label>
                            <input type="password" class="input" id="password" name="password" th:value="${password}"
                                   placeholder="Nhập Mật Khẩu Của Bạn">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="name">Tên</label>
                            <input type="text" class="input"
                                   id="name" name="yourName" th:value="${yourName}"
                                   placeholder="Nhập Tên Của Bạn">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="input"
                                   id="email" name="yourEmail" th:value="${yourEmail}"
                                   placeholder="Nhập Email Của Bạn">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="phone">Điện Thoại</label>
                            <input type="tel" class="input"
                                   id="phone" name="yourPhone" th:value="${yourPhone}"
                                   placeholder="Nhập Số Điện Thoại Của Bạn">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="primary-button">Tạo Tài Khoản</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" th:if="${result!=null}">
            <p th:text="${result}"></p>
        </div>
    </div>
</div>

<footer th:replace="layout::mainFooter"></footer>
<th:block th:replace="layout::scriptLibAll">
</th:block>
</body>
</html>